.choose {
    margin-bottom: 50px;
}

.chooses__buttons {

    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    font-family: Nunito, sans-serif;
}

.tab__btn {
    font-family: Nunito, sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 8px 14px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in;
}

.btn__icon {
    pointer-events: none;
}

.tab__btn:hover {
    background-color: #ffab08;
}

.btn-active {
    background-color: #ffab08;
}


@media(max-width: 768px) {

    .choose {
        margin-bottom: 37px;
    }

    .chooses__buttons {
        gap: 18px;

    }

    .tab__btn {
        font-size: 12px;
    }
}


@media(max-width: 490px) {

    .choose {
        margin-bottom: 30px;
    }

    .chooses__buttons {
        gap: 8px;

    }


}