.footer {
    background-color: #fff;
    padding: 52px 0 40px;
}

.footer__inner {
    display: flex;
    gap: 360px;
    align-items: center;
}

.footer__descr {
    display: flex;
    flex-direction: column;
    gap: 59px;
}

.footer__logo {
    display: block;
    max-width: 300px;
    max-height: 58px;
}

.footer__copyright {
    font-size: 12px;
    color: #000;
}

.copyright__text {
    margin-bottom: 4px;
}

.copyright__dev-link {
    color: #000;
}

.copyright__dev-link:hover {
    color: #FF7020;
}

.footer__info {
    display: flex;
    gap: 126px;
}

.footer__order {

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.order__text {
    font-size: 24px;
    color: #000;
}

.order__info {
    display: flex;
    gap: 4px;
    align-items: center;
}

.order__img {
    display: block;
    max-width: 24px;
}

.order__link {
    font-size: 16px;
    color: #000;
}

.order__link:hover {
    color: #FF7020;
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.social__text {
    font-size: 24px;
    color: #000;
}

.social__icon {
    display: flex;
    gap: 16px;
}

.social__icon img {
    display: block;
    max-width: 36px;
}

.footer__copyright-mobile {
    display: none;
}

@media(max-width: 1190px) {
    .footer__inner {
        gap: 300px;
    }
}

@media(max-width: 1100px) {
    .footer__inner {
        gap: 200px;
    }
}

@media(max-width: 991px) {
    .footer__info {
        flex-direction: column;
        gap: 40px;
    }

    .footer__order {
        gap: 5px;
        font-size: 18px;
    }

    .order__text {
        font-size: 18px;
    }

    .order__link {
        font-size: 12px;
    }

    .footer__social {
        gap: 5px;
        font-size: 18px;

    }

    .social__text {
        font-size: 18px;
    }
}


@media(max-width: 660px) {
    .footer__inner {
        gap: 145px;
    }
}

@media(max-width: 586px) {

    .footer{
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .footer__inner {
        flex-direction: column;
        gap: 24px;
        align-items: start;
    }

    .footer__info {
        gap: 24px;
        margin-bottom: 10px;
    }

    .footer__order {
        gap: 8px;
    }

    .footer__social {
        gap: 8px;
    }

    .footer__copyright {
        display: none;
    }

    .footer__copyright-mobile {
        display: block;
    }
}